.sp-modal-search-class {
  all: revert;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: medium !important;
  color: black !important;
}

#sp-modal-search-container {
  padding-top: 7px !important;
  /* padding-bottom: 7px; */
  z-index: 2147483647 !important;
  margin: initial !important;
  height: auto !important;
  left: 25% !important;
  right: 25% !important;
  border: none !important;
  top:10% !important;
  -webkit-border-radius:7px;
  border-radius: 7px;
  background-color:white !important;
  position: fixed !important; 
  box-shadow: 0px 12px 48px rgba(29, 5, 64, 0.32);
}
