<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/searchBar.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <br>
    <div id="search-bar-complete">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
      <div class="search-block" tabindex=1>
        <!-- scraping the content out -->
        <input type="text" id="sp-search-bar" autofocus placeholder="Search here ...">
      </div>
      <hr>
      <div id="search-result-container">
    </div>
  </div>
 
</body>
</html>